SUBSYSTEM=="sound", ACTION=="add", ENV{ID_VENDOR_ID}=="040b", ENV{ID_MODEL_ID}=="0897", RUN+="/bin/sh -c 'CARD=${DEVNAME##*controlC}; amixer -c \"$CARD\" sset PCM 100%; amixer -c \"$CARD\" sset PCM,1 100%'"